@import "../../vars.css";

.container {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: -50px;
}

.heroImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    padding: 5px;
    z-index: 1;
    border-radius: 50px;
    box-shadow: 0 0 0 2px;
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(146, 74, 45, 0.7);
  filter: blur(200px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(175, 151, 80, 0.7);
  filter: blur(200px);
  z-index: 0;
}

  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }

    .content {
      align-items: center;
    }
  }