@import "../../vars.css";

.container {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.heroImg {
    width: 95%;
    z-index: 1;
    border-radius: 300px;
}



  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }
  
    .content {
      align-items: center;
    }
  }