@import "../../vars.css";

.container {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    z-index: 1;
}

.heroImg {
    
    width: 95%;
    z-index: 1;
    border-radius: 10px;
}



  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }

    .content {
      align-items: center;
    }
  }