@import "../../vars.css";

.container {
    height: 100vh;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.title {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.carosel {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;

    height: 75vh;

    overflow-x: scroll;
}

.img1 {
    width: 25%;
}

.img2 {
    width: 25%;
}

.img3 {
    width: 25%;
}

.window {
    flex: 0 0 auto; /* Disable flex-grow and flex-shrink */
    height: 50vh;
    width: 50vw;
    margin-right: 50px;
    margin-left: 25px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(219, 224, 192);
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.45s ease;
    color: #fff;
    z-index: 1;
}

.window:hover {
    transform: scale(1.05); /* Increase the size on hover */
}

  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }

    .content {
      align-items: center;
    }
  }